<li>
	<span class='title'><%=car.title%></span>
	<span class='price'><%=car.price%></span>

	<span class='model'><%=car.category.name%></span>
	<span class='fuel'><%=car.roles.first.to_s%></span>
</li>