<div class='main'>
	<div class='head'><h1>Admin Links</h1></div>
	<div class='operation'><%=link_to "Fetch AutoVlanDe",:action => 'getAutoVlanDe'%> | <%=link_to "Fetch FrAutoscout24Be",:action => "getFrAutoscout24Be"%></div>
</div>